@use "../../../../styles/variables" as *;

.create-task-form {
    display: flex;
    width: 80vw;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    input {
        padding-top: .2rem;
        padding-bottom: .2rem;
        padding-left: 1rem;
        width: 90%;
        outline: none;
        border: 2px solid #7c7c7c;
        border-radius: 4px;
        &:active, &:focus {
            outline: none;
            border: 2px solid $primary-green;
        }
    }
}