@use "../../styles/variables" as *;

.settings-container {
    width: $view-width;
    height: 100%;
    padding: $view-padding;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
}

.save-preferences-button {
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    background-color: $light-blue;
    color: $black;
    &:hover {
        background-color: $medium-green;
    }
}