// ## BREAKPOINTS



// ## MEASURES
$view-padding: 1em;
$view-width: 100%;

// ## FONT PROPERTIES
$bold: 800;
$semi-bold: 800;
$normal: 800;
$light: 800;


// ## COLORS

// GREEN
$primary-green: #3E5B41;
$hover-green: #D5E2D6;

// WHITE
$white: #FFFFFF;

// BLACK
$black: #000000;