@use "../../../../styles/variables" as *;

.move-task {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 15rem;
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: .8rem;
    border-radius: .4rem;
    box-shadow: 5px 9px 40px -4px rgba(0,0,0,0.75);
    button {
        background-color: transparent;
        border: none;
        outline: none;
        width: fit-content;
        padding-inline: .5rem;
        &:hover {
            background-color: $primary-grey;
        }
    }
}

body.dark-mode .move-task {
    background-color: $background-dark-2;
    color: $white;

    button {
        color: $white;
        &:hover {
            color: $black;
        }
    }
}

.move-button {
    display: flex;
    align-items: center;
    gap: .3rem;
    overflow-x: hidden;
    
    button {
        text-overflow: ellipsis;
        max-width: 13.2rem;
        overflow-x: hidden;
        white-space: nowrap;
    }
}

.move-icon-not-visible {
    display: none;
}

.move-icon-visible {
    display: flex;
}
