@use "../../styles/variables" as *;

.tidier-container {
    width: $view-width;
    height: 100%;
    padding: $view-padding;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: auto;
}

.tidier-header {
    margin-left: 1rem;
    grid-column: 1/-1;
    grid-row: 1/1;

    @media screen and (min-width: 320px) and (max-width: 768px) {
        margin-left: 0rem;
    }

    h2 {
        @media screen and (min-width: 320px) and (max-width: 445px) {
            font-size: 1.2rem;
        }
    }
}

.tidier-setup {
    height: 100%;
    display: grid;
    grid-column: 1/1;
    grid-template-rows: 3rem 3rem 35rem 3rem 15rem;

    @media screen and (min-width: 320px) and (max-width: 1023px) {
        grid-column: 1/-1;
    }
}

.tidier-generate {
    grid-row: 1/1;
    display: flex;
    flex-direction: row;
    margin-left: 2.5rem;
    justify-content: left;
    align-items: center;
    gap: 1.5rem;

    button {
        display: flex;
        justify-content: center;
        gap: .4rem;
        background-color: $primary-green;
        box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.37);
        color: $white;
        outline: none;
        border: .1rem solid $primary-green;
        border-radius: .4rem;
        padding-inline: .4rem;
        font-size: 1rem;

        @media screen and (min-width: 320px) and (max-width: 445px) {
            font-size: .9rem;
        }
    }

    @media screen and (min-width: 320px) and (max-width: 1023px) {
        width: 100%;
        justify-content: center;
        margin-left: 0rem;
    }

    @media screen and (min-width: 320px) and (max-width: 445px) {
        flex-direction: column;
        gap: .9rem;
    }
}

.plan-result {
    grid-row: 2/2;
    max-height: 40rem;
    overflow-y: auto;
    margin-top: 2rem;
    position: relative;
    padding-left: 2.5rem;
}

.tidier-plan {
    padding-top: 5rem;
    grid-column: 2/2;
    width: 100%;
    display: grid;
    grid-template-rows: 3rem 1fr;
    box-sizing: border-box;
    height: 100%;
    justify-content: center;

    @media screen and (min-width: 320px) and (max-width: 1023px) {
        grid-column: 1/-1;
        grid-template-columns: 1fr;
        padding-top: .3rem;
        justify-content: left;
        margin-bottom: 2rem;
        justify-items: center;
    }

    @media screen and (min-width: 320px) and (max-width: 445px) {
        font-size: .9rem;
        grid-template-rows: 6rem 1fr;
    }
}

.plan-item {
    position: relative;
    border-bottom: .1rem solid $primary-grey;
    margin-left: 2rem;
    padding: .5rem 0rem;
    max-width: 25rem;

    p {
        display: flex;
        align-items: center;
        gap: .3rem;
    }
}

.line {
    position: absolute;
    width: .3rem; /* Grosor de la línea */
    background: #A1B89D; /* Degradado de color */
    top: 0;
    bottom: 0;
    left: 0; /* Centra la línea en la columna */
    transform: translateX(-50%); /* Ajusta para centrar la línea */
    margin-left: -2rem;
}

.circle {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #A1B89D; /* Color del círculo */
    border-radius: 50%;
    left: -2.45rem; /* Ajusta para centrar el círculo en la línea */
    top: 50%;
    transform: translateY(-50%);
}

.available-time {
    grid-column: 1/1;
    grid-row: 4/4;
    margin-left: 2rem;
    margin-top: 1rem;
    justify-content: left;
    display: flex;
    gap: 1rem;
    width: 100%;

    .from-hour {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        width: 6rem;
        grid-row: 2/2;
    }
    
    .input-container {
        position: relative;
        display: flex;
        align-items: center;
    }
    
    //TODO: in chrome the clock icon is not necessary or try to remove the clock icon of chrome time input
    // .input-container input {
    //     width: 100%;
    //     padding-right: 2rem; /* Espacio para el ícono */
    //     box-sizing: border-box;
    // }
    
    // .input-container .clock-from {
    //     position: absolute;
    //     right: 0.5rem;
    //     pointer-events: none; /* Asegura que el ícono no bloquee la interacción con el input */
    // }

    @media screen and (min-width: 320px) and (max-width: 768px) {
        margin-left: 0rem;
    }
}