@use "../../../styles/variables" as *;

.combobox-select {
    position: relative;
    max-width: 50%;
    padding-inline: .5rem;
    border-radius: .4rem;
    border: .1rem solid $black;
    font-size: .9rem;
    background-color: $primary-grey;
}

.dropdown-header {
    display: flex;
    gap: .4rem;
    align-items: center;
    cursor: pointer;
    width: 100%;
    font-size: .8rem;

    @media screen and (min-width: 320px) and (max-width: 768px) {
        justify-content: center;
        font-size: .7rem;
    }

    @media screen and (min-width: 769px) and (max-width: 1200px) {
        font-size: .7rem;
    }
}

.dropdown-content {
    font-size: .8rem;
    position: absolute;
    top: 107%;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $white;
    border: .1rem solid $black;
    overflow-y: auto;
    border-radius: .4rem;
    padding: .1rem .5rem;
    box-sizing: border-box;
    max-height: 7.5rem;

    @media screen and (min-width: 320px) and (max-width: 768px) {
        font-size: .7rem;
        width: fit-content;
        left: 0;
    }

    @media screen and (min-width: 769px) and (max-width: 1200px) {
        font-size: .7rem;
    }
}

.dropdown-option {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .2rem 0rem;
    &:not(:first-child) {
        border-top: .1rem solid $black;
    }
}