@use "../../../../styles/variables" as *;

.edit-modal {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 5px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: .5rem .5rem 1rem;
    border: solid 1px $primary-grey;
    width: 20rem;
    justify-content: center;
    align-items: center;
    cursor: default;
    font-size: .9rem;
    box-shadow: 0px 14px 42px -6px rgba(0,0,0,0.75);
    button {
        display: flex;
        justify-content: center;
        gap: .4rem;
    }

    @media screen and (min-width: 320px) and (max-width: 768px) {
        width: 18rem;
    }
}

body.dark-mode .edit-modal {
    color: $background-dark-0;
}

.edit-modal-header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    button {
        background-color: transparent;
        border: none;
        outline: none;
        color: $light-grey;
        &:hover {
            color: $black;
        }
    }
}

.rename-section {
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.input-section {
    display: flex;
    gap: .5rem;

    input {
        border-radius: .4rem;
        outline: none;
        border: .1rem solid $light-grey;
        padding-left: .1rem;
        width: 9rem;
    }
}

.confirm-rename {
    padding-inline: .4rem;
    background-color: $white;
    outline: none;
    border: .1rem solid $primary-green;
    color: $primary-green;
    &:not(:disabled):hover {
        background-color: $primary-green;
        color: $white;
    }
    &:disabled {
        border: .1rem solid $light-grey;
        color: $light-grey;
        cursor: auto;
    }
}

.rename-button {
    width: fit-content;
    padding-inline: .4rem;
    border: .13rem solid $dark-grey;
    background-color: $white;
    &:hover {
        background-color: $primary-grey;
    }
}

.remove-button {
    width: fit-content;
    padding-inline: .4rem;
    border: .13rem solid $remove-red;
    background-color: $white;
    &:hover {
        background-color: $hover-red;
    }
}