@use "../../../../styles/variables" as *;

.edit-task-modal {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: $white;
    color: $black;
    height: 100%;
    width: 23rem;
    z-index: 10;
    overflow: auto;

    @media screen and (min-width: 320px) and (max-width: 500px) {
        width: 100vw;
    }
}

body.dark-mode .edit-task-modal {
    background-color: $background-dark-1;
    color: $white;
}

.edit-task-modal-header {
    display: flex;
    padding: 2rem 2rem 1rem;
    align-items: flex-start;
    gap: 1rem;

    .done-undone {
        border: none;
        gap: .5rem;
        outline: .1rem solid transparent;
        padding-inline: .5rem;
        background-color: $hover-green;
        &:hover {
            outline: .1rem solid $primary-green;
        }
    }
    .close-button {
        background-color: $white;
        margin-left: auto;
        border: none;
        color: $dark-grey;
        &:hover {
            color: $black;
        }
    }
}

body.dark-mode .close-button {
    background-color: $background-dark-1;
    color: $white;

    &:hover {
        color: $white;
    }
}

.edit-task-modal-body {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    font-size: .8rem;

    .main-info {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        border-radius: .4rem;
        padding: .5rem .8rem 1rem;
        margin-bottom: 3rem;
        box-shadow: -.2rem -.1rem 2.1rem -.2rem rgb(195, 195, 195);

        .task-title {
            border: none;
            font-size: 1rem;
            &:active, &:focus {
                border: none;
                outline: none;
            }
        }
        textarea {
            padding-left: .5rem;
            min-height: 5rem;
            resize: vertical;
            font-size: .9rem;
        }
    }

    .difficulty, .date-picker, .label-picker {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem .8rem;
    }

    .additional-info {
        display: flex;
        flex-direction: column;
        border-radius: .4rem;
        padding: .5rem .8rem;
        box-shadow: -.2rem -.1rem 2.1rem -.2rem rgba(195,195,195);
        margin-bottom: 1rem;
        gap: .5rem;
    }

    .important {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: .4rem;
        padding: .5rem .8rem;
        box-shadow: -.2rem -.1rem 2.1rem -.2rem rgba(195,195,195);
        margin-bottom: 1rem;
    }

    .labels {
        display: flex;
        align-items: center;
        padding-inline: .8rem;
        gap: 1rem;
        label {
            font-size: .8rem;
            padding-inline: .5rem;
            border: .15rem solid $black;
            border-radius: .6rem;
        }
    }
}

body.dark-mode .edit-task-modal-body {
    color: $white;

    .main-info, .additional-info, .important {
        background-color: $background-dark-2;
        box-shadow: 0px 0px 39px -17px rgba(64,64,64,1);
    }

    .main-info {
        .task-title {
            background-color: $background-dark-2;
            color: $white;
        }

        textarea {
            background-color: $background-dark-2;
            color: $white;
        }
    }
}

.edit-task-modal-footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    margin-bottom: 3rem;
    gap: 1rem;

    .delete-task {
        padding: .3rem .5rem;
        background-color: $hover-red;
        gap: .3rem;
        outline: none;
        border: none;
        &:hover {
            background-color: $remove-red;
            color: $white;
        }
    }

    .cancel {
        padding: .3rem .8rem;
        background-color: $primary-grey;
        outline: none;
        border: none;
        &:hover {
            background-color: $medium-grey;
            color: $white;
        }
    }

    .save {
        padding: .3rem .8rem;
        color: $white;
        background-color: $primary-green;
        border: .1rem solid $primary-green;
        &:hover {
            border-color: $primary-green;
            background-color: $hover-green;
            color: $primary-green;
        }
    }
}