@use "../../../../styles/variables" as *;

.edit-modal {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 5px;
    position: absolute;
    top: 1.5rem;
    left: .5rem;
    padding: .5rem .5rem;
    gap: .3rem;
    border: solid 1px $primary-grey;
    cursor: default;
    button {
        display: flex;
        justify-content: center;
        gap: .4rem;
    }
}

.rename-section {
    display: flex;
    gap: .5rem;

    input {
        border-radius: .4rem;
        outline: none;
        border: .1rem solid $light-grey;
        padding-left: .1rem;
    }
    .rename {
        padding-inline: .4rem;
        background-color: $white;
        outline: none;
        border: .1rem solid $primary-green;
        color: $primary-green;
        &:not(:disabled):hover {
            background-color: $primary-green;
            color: $white;
        }
        &:disabled {
            border: .1rem solid $light-grey;
            color: $light-grey;
            cursor: auto;
        }
    }
}

.rename-button {
    width: fit-content;
    padding-inline: .4rem;
    border: .13rem solid $dark-grey;
    background-color: $white;
    &:hover {
        background-color: $primary-grey;
    }
}

.remove-button {
    width: fit-content;
    padding-inline: .4rem;
    border: .13rem solid $remove-red;
    background-color: $white;
    &:hover {
        background-color: $hover-red;
    }
}