@use "../../../../styles/variables" as *;

.edit-modal {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 5px;
    position: absolute;
    top: 1.5rem;
    left: .5rem;
    width: 5.5rem;
    padding: .5rem .5rem;
    gap: .3rem;
    border: solid 1px $primary-grey;
    cursor: default;
    button {
        display: flex;
        justify-content: center;
        gap: .4rem;
    }
}

.rename-button {
    border: .13rem solid $dark-grey;
    background-color: $white;
    &:hover {
        background-color: $primary-grey;
    }
}

.remove-button {
    border: .13rem solid $remove-red;
    background-color: $white;
    &:hover {
        background-color: $hover-red;
    }
}