@use "../../../styles/variables" as *;

.tab-content-container {
    grid-row: 2/-1;
    grid-column: 1/-1;
    height: 90%;
    max-height: 90%;
    padding-left: 1rem;

    @media screen and (min-width: 320px) and (max-width: 768px) {
        grid-row: 3/-1;
        padding-left: 0rem;
        height: 95%;
        max-height: 95%;
    }
}

.tab-content-empty {
    grid-row: 2/-1;
    grid-column: 1/-1;
    height: 90%;
    max-height: 90%;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./../../../public/add-task-list.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    display: none;
}

.active-content {
    height: 90%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 25rem;

    @media screen and (min-width: 320px) and (max-width: 768px) {
        font-size: .7rem;
        height: 55%;
    }
}

.task, .task-done {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    align-items: center;
    gap: 1rem;
    width: 98%;
    border-top: 1px solid #adaaad;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 1rem;
    font-size: .9rem;

    @media screen and (min-width: 320px) and (max-width: 1200px) {
        font-size: .8rem;
    }
}

.task-done {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    background-color: $primary-grey;
}

body.dark-mode .task-done {
    background-color: $background-dark-0;
    color: $white;
}

.task-content {
    grid-column: 2/2;
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 15rem;
    h4 {
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
    }

    @media screen and (min-width: 320px) and (max-width: 1200px) {
        width: 7rem;
    }
}

.selected-task {
    background-color: $hover-green;
}

body.dark-mode .selected-task {
    background-color: $primary-grey;
    color: $black;
    border-color: $white;
}

.task-properties {
    grid-column: 3/3;
    display: grid;
    grid-template-columns: .2fr .4fr 1fr .2fr;
    grid-template-rows: 1fr;
    align-items: center;

    .end-date, .difficulty, .important, .labels {
        display: flex;
        align-items: center;
        grid-row: 1/1;
    }
    .end-date {
        grid-column: 1/1;
        @media screen and (min-width: 320px) and (max-width: 500px) {
            grid-column: 2/2;
        }
    }

    .difficulty {
        grid-column: 2/2;
        @media screen and (min-width: 320px) and (max-width: 500px) {
            display: none;
        }
        @media screen and (min-width: 501px) and (max-width: 1200px) {
            grid-column: 2/4;
            justify-content: center;
        }
    }

    .task-labels {
        grid-column: 3/3;
        font-size: .8rem;
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        label {
            border-width: .1rem;
            border-style: solid;
            padding-inline: .2rem;
            border-radius: .5rem;
        }

        @media screen and (min-width: 320px) and (max-width: 1200px) {
            display: none;
        }
    }

    .important {
        grid-column: 4/-1;
    }
}

.icon-container {
    grid-column: 1/1;
    display: flex;
    align-items: center;
    cursor: pointer;
    .circle-disappear {
        display: none;
    }
}

.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    background-color: $primary-grey;
    width: 99%;
    border-radius: .4rem;
    margin-bottom: .5rem;

    @media screen and (min-width: 320px) and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        margin-top: .2rem;
    }

    .task-counter {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1rem;
        padding-inline: .8rem;
        font-size: .84rem;

        @media screen and (min-width: 320px) and (max-width: 768px) {
            margin-top: .5rem;
            font-size: .7rem;
            width: 100%;
            justify-content: center;
        }

        @media screen and (min-width: 769px) and (max-width: 1200px) {
            font-size: .7rem;
        }
    }

    .task-filters {
        padding-right: 2.8rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1rem;

        @media screen and (min-width: 320px) and (max-width: 768px) {
            padding-right: 0rem;
            font-size: .7rem;
            width: 100%;
            justify-content: space-evenly;
        }

        .filter {
            position: relative;
            width: 7rem;
            max-width: 8rem;
            padding-inline: .5rem;
            border-radius: .4rem;
            border: none;
            background-color: transparent;
            display: flex;

            @media screen and (min-width: 320px) and (max-width: 768px) {
                font-size: .7rem;
                width: 1rem;
            }
        }

        .sort-date, .sort-difficulty {
            font-size: .84rem;
            border: none;
            background-color: transparent;
            &:hover {
                text-decoration: underline;
            }

            @media screen and (min-width: 320px) and (max-width: 768px) {
                font-size: .7rem;
            }

            @media screen and (min-width: 769px) and (max-width: 1200px) {
                font-size: .7rem;
            }
        }
    }
}

body.dark-mode .filter-section {
    color: $black;

    .sort-date, .sort-difficulty {
        color: $black;
    }
}