@use "../../styles/variables" as *;

.board-container {
    width: $view-width;
    height: 100%;
    padding: $view-padding;
    box-sizing: border-box;
    width: 100%;
}

body.dark-mode .board-container {
    background-color: $background-dark-3;
    color: $white;
}